<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-11 col-sm-8 ">
      <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    </div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-11 col-sm-8">
      <form>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label"><b>Nombre:</b></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPassword" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label"><b>Correo:</b></label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputPassword" placeholder="Correo" [(ngModel)]="correo" name="correo">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label"><b>C.I. :</b></label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="inputPassword" placeholder="C.I." [(ngModel)]="ci" name="ci">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-2">
            <label for="exampleFormControlSelect1"><b>Genero:</b></label>
          </div>
          <div class="col-12 col-sm-4">
            <select class="form-control" id="inputPassword" (change)="cambiarValor($event)">
              <option value="Femenino">Femenino</option>
              <option value="Masculino">Masculino</option>
            </select>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-6">
            <button type="button" class="btn btn-success btn-lg float-right" (click)="inscribir()">Inscribir</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-danger btn-lg float-left" routerLink="/" routerLinkActive="active">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>
