
<div class="container mt-1">
  <div class="jumbotron jumbotron-fluid mt-1">
    <!-- <div class="container"> -->
      
      <div class="container">
        <h2 class="display-5">
          <b>Acreditar a:</b>
        </h2>
        <h3 class="display-6 text-center text-muted">{{message.nombre}}</h3>
        <hr class="my-5">
        <h2 class="display-5">
          <b>Seleccionar Guia:</b>
        </h2>
        <!-- <pre>{{closeResult}}</pre> -->

        <div class="row  mb-3 justify-content-center">
          <div class="col-12 col-sm-8 mt-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar Guia..." aria-label="Buscar Guia..." [(ngModel)]="searchText">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" (click)="verlista()">Buscar</button>
              </span>
            </div>
          </div>
          <div class="col-4 mt-2">
            <button class="btn btn-secondary" type="button" (click)="guiaRandom()">Random</button>
          </div>        
        </div>
        
        
        <div class="row ">
          <div class="col-12 col-sm-8">
            <ul class="list-group clearfix" *ngIf="!seleccionado">
              <li class="list-group-item my-auto align-middle" *ngFor="let guia of guias | filter : searchText : false;">
                {{guia.nombre}} {{guia.apellido}} : {{guia.num_participantes}}
                <button type="button" class="btn btn-primary float-right btn-sm" (click)="seleccionarGuia(guia,$event)">Seleccionar</button>
              </li>
            </ul>
          </div>
        </div>
        <h2 class="display-5">
          <b>Guia:</b>
        </h2>
        <div class="row my-3 justify-content-center" *ngIf="seleccionado">
          <h3 class="display-6 text-center text-muted"> {{guiaSelecionado.nombre}} {{guiaSelecionado.apellido}}</h3>
        </div>

      <!-- </div> -->
        <div class="row justify-content-center mt-5">
          <div class="col-6">
            <button type="button" class="btn btn-success btn-lg float-right" (click)="open(content,message,guiaSelecionado)">Confirmar</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-danger btn-lg float-left" routerLink="/acreditar" routerLinkActive="active">Cancelar</button>
          </div>
        </div>
    </div>
  </div>


  <!-- Ventana Modal -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <!-- <h4 class="modal-title">Modal title</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Se acreditó a : {{message.nombre}}</p>
      <p>Con el guía : {{guiaSelecionado.nombre}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">OK!</button>
    </div>
  </ng-template>


</div>
