<div class="container mt-3">

  <div class="row mt-3 justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Buscar Inscrito..." [(ngModel)]="searchText" placeholder="Buscar Inscrito..."
        (focus)="buscar()">

        <div class="input-group-btn">
    
          <label for="exampleFormControlSelect1">Filtro</label>
          <select class="form-control" id="exampleFormControlSelect1" (change)="cambiarFiltro()">
            <option>Código</option>
            <option>Nombre</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- lista de acreditados -->
  <div class="row justify-content-center mt-2">

    <div class="list-group col-11 col-sm-8" *ngIf="proceder">
        <a href="" class="list-group-item list-group-item-action" *ngFor="let acreditado of acreditados  | filter : searchText : filtro"
          (click)="seleccionar($event,acreditado)">
          {{ acreditado.nombre }}
        </a>
    </div>
  </div>

  <div class="row justify-content-center mt-5" *ngIf="acreditadoSeleccionado">
    <div class="row col-12 col-sm-10">
      <h1>
        <b>Nombre: </b> 
      </h1>
    </div>
    <div class="row col-12 col-sm-10 justify-content-center">
      <h2 class="text-muted">{{ acreditado?.nombre }}</h2>
    </div>
    <div class="row col-12 col-sm-10">
      <h2>
        <b>Cantidad de puntos: </b>
      </h2>
    </div>
    <div class="row col-12 col-sm-10 justify-content-center">
      <h2 class="text-muted">{{acreditado?.puntos}}</h2>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="acreditado?.puntos==0 && acreditadoSeleccionado;else elseBlock">
    <div class="alert alert-danger col-12 col-sm-6" role="alert" >
      <p>Usuario sin puntos</p>
    </div>
  </div>
  
  <ng-template #elseBlock>
      <div class="row mt-5" *ngIf="acreditadoSeleccionado">
        <!-- Tabla de cosas disponibles -->
        <div class="col-12 col-sm-6">
          <h1>Disponiples</h1>
          <table class="table ml-1 table-responsive">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" scope="col">Premio</th>
                <th class="text-center" scope="col">Cantidad</th>
                <th class="text-center" scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let premio of premios">
                <th scope="row" class="text-center">{{premio.nombre}}</th>
                <td class="text-center">{{premio.cantidad_disponible}}</td>
                <td class="text-center">{{premio.precio}}</td>
                <td>
                  <button class="btn btn-secundary" (click)="agregar(premio)">Agregar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- tabla de cosas a canjear -->
        <div class="col-12 col-sm-6">
          <h1>A canjear</h1>
          <table class="table table-striped mr-1">
            <thead>
              <tr>
                <th scope="col">Premio</th>
                <th class="text-center" scope="col">Precio</th>
                <th class="text-center" scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let premio of cantidadPremios">
                <th class="text-center" scope="row">{{premio.nombre}}</th>
                <td class="text-center">{{premio.precio}}</td>
                <td class="text-center">{{premio.cantidad}}</td>
              </tr>
              <tr class="table-info">
                <th scope="row">Total Puntos:</th>
                <td colspan="2"> <b>{{total}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>  
    </div>

    <div class="row justify-content-center">
      <div *ngIf="acreditado?.puntos < total" class="alert alert-danger col-12 col-sm-6" role="alert">
        No tiene los suficientes puntos
      </div>
    </div>

    <div class="row justify-content-center mb-5 mt-3" *ngIf="acreditadoSeleccionado">
      <div class="col-12 col-sm-4">
        <button *ngIf="acreditado.puntos >= total" type="button" class="btn btn-success btn-lg" (click)="canjear()">CANJEAR</button>
        <button type="button" class="btn btn-danger btn-lg" (click)="cancelar()">CANCELAR</button>
      </div>
    </div>
  </ng-template>
</div>