<div class="container mt-3">
  <div class="row justify-content-center mb-2">
    <h1 class="display-3 text-center">Lista de Puntos</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-9">
      <table class="table table-responsive-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Guia</th>
            <th scope="col">Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acreditado of acreditados; let i = index">
            <th scope="row" class="text-center">{{i+1}}</th>
            <td>{{acreditado.nombre}}</td>
            <td>{{acreditado.nombre_guia}}</td>
            <td class="text-center">{{acreditado.puntos}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>